In [42]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.ensemble import RandomForestRegressor

np.random.seed(17)

In [33]:
dataset=pd.read_csv('dataset_metro_weather_sunlok.csv',encoding='euc-kr',engine='python')

In [3]:
dataset.set_index('날짜',inplace=True)

In [34]:
dataset=pd.get_dummies(dataset,prefix='',prefix_sep='',columns=['요일'])

In [35]:
dataset.columns

Index(['날짜', '16~17유입인구', '17~18유입인구', '18~19유입인구', '19~20유입인구', '20~21유입인구',
       '21~22유입인구', '22~23유입인구', '기온', '강수량', '습도', '공휴일', '23~26', 'Friday',
       'Monday', 'Saturday', 'Sunday', 'Thursday', 'Tuesday', 'Wednesday'],
      dtype='object')

In [36]:
dataset=dataset[['날짜','16~17유입인구', '17~18유입인구', '18~19유입인구', '19~20유입인구', '20~21유입인구',
       '21~22유입인구', '22~23유입인구', '기온', '강수량', '습도', '공휴일',
       'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday','Saturday', 'Sunday', '23~26']]

In [37]:
dataset.head()

,날짜,16~17유입인구,17~18유입인구,18~19유입인구,19~20유입인구,20~21유입인구,21~22유입인구,22~23유입인구,기온,강수량,습도,공휴일,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday,23~26
0,2010-01-01,214,628,922,384,-5,-704,-1319,-4.700000,0.0,54.500000,1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1515
1,2010-01-02,908,1466,1652,581,-1036,-1646,-2892,-5.500000,0.0,68.333333,1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,2853
2,2010-01-03,917,832,931,-108,-1244,-1297,-1968,-6.000000,0.0,55.000000,1,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1537
3,2010-01-04,-1583,-349,562,1512,-1442,-2031,-2848,-6.466667,0.0,65.000000,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,3165
4,2010-01-05,-660,-338,918,2154,-1037,-2495,-3023,-10.600000,0.0,70.666667,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,3484

In [38]:
dataset.to_csv('reformed_dataset.csv',index=False)

In [8]:
X=dataset[dataset.columns[:-1]]
Y=dataset['23~26']

In [9]:
X.head()

,16~17유입인구,17~18유입인구,18~19유입인구,19~20유입인구,20~21유입인구,21~22유입인구,22~23유입인구,기온,강수량,습도,공휴일,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday
날짜,,,,,,,,,,,,,,,,,,
2010-01-01,214,628,922,384,-5,-704,-1319,-4.700000,0.0,54.500000,1,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2010-01-02,908,1466,1652,581,-1036,-1646,-2892,-5.500000,0.0,68.333333,1,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2010-01-03,917,832,931,-108,-1244,-1297,-1968,-6.000000,0.0,55.000000,1,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2010-01-04,-1583,-349,562,1512,-1442,-2031,-2848,-6.466667,0.0,65.000000,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2010-01-05,-660,-338,918,2154,-1037,-2495,-3023,-10.600000,0.0,70.666667,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [63]:
x_train, x_test, y_train, y_test = train_test_split(X,Y,test_size=0.2,random_state=16)

In [27]:
gbr=GradientBoostingRegressor(n_estimators=100,max_depth=20)

In [28]:
gbr=gbr.fit(x_train,y_train)

In [29]:
y_pred=gbr.predict(x_test)

In [30]:
from sklearn.metrics import mean_squared_error

In [31]:
mean_squared_error(y_test,y_pred)

294473.07200696581

In [41]:
np.sqrt(mean_squared_error(y_test,y_pred))

542.65373121997959

In [64]:
forest=RandomForestRegressor(n_estimators=150,max_depth=40)

In [65]:
forest=forest.fit(x_train,y_train)

In [66]:
y_pred=forest.predict(x_test)

In [46]:
# depth: 20, tree:100
np.sqrt(mean_squared_error(y_test,y_pred))

440.28944449170211

In [50]:
# depth:25, tree:100
np.sqrt(mean_squared_error(y_test,y_pred))

442.14679585200122

In [54]:
# depth:30, tree:100
np.sqrt(mean_squared_error(y_test,y_pred))

439.12662978379143

In [58]:
# depth:30, tree:150
np.sqrt(mean_squared_error(y_test,y_pred))

439.39928349568447

In [67]:
# depth:40, tree:150
np.sqrt(mean_squared_error(y_test,y_pred))

351.48206207505712